* {
	font-family: Poppins !important;
}

.font-weight-med {
	font-weight: 400 !important;
}

.font-weight-bold {
	font-weight: 500 !important;
}

button:disabled {
	cursor: not-allowed !important;
}

.font-weight-bold {
	font-weight: bold !important;
}

.font-weight-bolder {
	font-weight: bolder !important;
}

// Card
.card {
	background-clip: border-box !important;
	border: solid 1px #ebedf3 !important;
	border-radius: 0.42rem !important;
	box-shadow: 0px 0px 17 23px black !important;

	.card-header {
		padding-bottom: 0.25rem !important;

		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #777 !important;
			font-weight: normal !important;
			margin-bottom: 0.35rem !important;
		}

		.table-filters {
			.form-group > * {
				font-size: 0.75rem !important;
			}

			.form-group,
			.input-group {
				small {
					color: #b5b5c7 !important;
				}

				.form-control,
				.input-group-append button {
					font-size: 0.75rem !important;
					height: 38px !important;
					padding: 2px 8px !important;
					border-color: hsl(0, 0%, 80%) !important;
					border-radius: 4px !important;
					border-style: solid !important;
					border-width: 1px !important;
				}

				.form-control:focus {
					box-shadow: none !important;
					border: solid 1px #5665ae !important;
				}
			}
		}
	}

	.card-header {
		border-color: #f1f1f1 !important;
	}
}

// Form

form {
	.form-group {
		.form-label {
			color: #555 !important;
			font-weight: 500 !important;
		}

		.form-check-label {
			color: #777 !important;
			font-size: 0.8rem !important;
		}

		input.form-control,
		select.form-control {
			height: 50px !important;
			font-size: 0.8rem !important;
		}

		input.form-control:focus,
		select.form-control:focus {
			box-shadow: none !important;
			border: solid 1px #5665ae !important;
		}
	}
}

form.normal-form {
	.form-label {
		font-size: 0.75rem !important;
		font-weight: normal !important;
		color: #999 !important;
	}

	input.form-control,
	select.form-control {
		height: 35px !important;
		font-size: 0.8rem !important;
	}
}

// Sweetalert
.swal2-container {
	.swal2-title {
		font-size: 1.75rem !important;
		font-family: "Poppins" !important;
		font-weight: bold !important;
	}

	.swal2-content {
		font-size: 0.85rem !important;
		margin-top: 0.55rem !important;
	}

	.swal2-actions {
		.swal2-cancel {
			color: #444 !important;
			background: #ddd !important;
		}

		.swal2-cancel:hover {
			color: #444 !important;
			background: #ccc !important;
		}
	}

	button {
		font-size: 0.85rem !important;
	}
}

// Alert
.alert {
	font-size: 0.75rem !important;
	margin-bottom: 1rem !important;

	p {
		margin-bottom: 0 !important;
	}
}

.alert {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	border-radius: 5px !important;

	small {
		font-weight: 500 !important;
	}
}

.alert-primary {
	color: #fff !important;
	background-color: #3699ff !important;
}

.alert-secondary {
	background: #f1f1f1 !important;
	background: #181c32 !important;
}

.alert-success {
	color: #fff !important;
	background-color: #1bc5bd !important;
}

.alert-danger {
	color: #fff !important;
	background-color: #f64e60 !important;
}

.alert-warning {
	color: #fff !important;
	background-color: #ffa800 !important;
}

.alert-info {
	color: #fff !important;
	background-color: #8950fc !important;
}

.alert-light {
	color: #666 !important;
	background: #e4e6ef !important;
}

// Badge
.badge {
	font-size: 0.65rem !important;
}

.badge-danger {
	font-weight: normal !important;
	color: #f46a6a !important;
	background-color: rgba(244, 106, 106, 0.18) !important;
	padding: 0.4rem 0.6rem !important;
	border-radius: 10rem !important;
}

.badge-warning {
	font-weight: normal !important;
	color: #f1b44c !important;
	background-color: rgba(241, 180, 76, 0.18) !important;
	padding: 0.4rem 0.6rem !important;
	border-radius: 10rem !important;
}

.badge-success {
	font-weight: normal !important;
	color: #34c38f !important;
	background-color: rgba(52, 195, 143, 0.18) !important;
	padding: 0.4rem 0.6rem !important;
	border-radius: 10rem !important;
}

.badge-primary {
	font-weight: normal !important;
	color: #0c56b0 !important;
	background-color: rgba(45, 116, 204, 0.18) !important;
	padding: 0.4rem 0.6rem !important;
	border-radius: 10rem !important;
}

.badge-info {
	font-weight: normal !important;
	color: #109e93 !important;
	background-color: rgba(90, 219, 209, 0.18) !important;
	padding: 0.4rem 0.6rem !important;
	border-radius: 10rem !important;
}

// Navbar
.c-header {
	border: 0 !important;
	border-bottom: solid 1px #eee !important;
	padding: 0.45rem 1rem !important;
	-webkit-box-shadow: 0px 0px 22px -1px rgba(85, 85, 85, 0.05) !important;
	-moz-box-shadow: 0px 0px 22px -1px rgba(85, 85, 85, 0.05) !important;
	box-shadow: 0px 0px 22px -1px rgba(85, 85, 85, 0.05) !important;

	.c-header-nav {
		.c-header-nav-link {
			font-size: 0.8rem !important;
		}
		.c-header-nav-items {
			font-size: 0.8rem !important;

			.dropdown-item {
				font-size: 0.8rem !important;
			}
		}
	}
}

// Sidebar
.c-sidebar {
	.c-sidebar-brand {
		background: #1e1e2d !important;
		padding-top: 1.35rem !important;
		padding-bottom: 1.35rem !important;
	}

	.c-sidebar-nav {
		background: #1e1e2d !important;
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;

		.c-sidebar-nav-item {
			.c-sidebar-nav-link {
				color: #ddd !important;
				font-size: 0.8rem !important;
				padding-top: 1rem !important;
				padding-bottom: 1rem !important;
				transition: 0.3s ease !important;
			}
			.c-sidebar-nav-link:hover {
				color: #fff !important;
				background: #1a1a27 !important;
			}
		}
	}

	.c-sidebar-minimizer {
		color: #fff !important;
		background: #1a1a27 !important;
	}
}

// Content
.c-body {
	background: #eee !important;
}

// Main Content
.page-content {
	padding: 0 !important;
}

.authentication-container {
	background: url("./../assets/backgrounds/auth-background.png") !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	min-height: 100vh;
	position: relative;

	.authentication-card-container {
		background: #f1f1f1 !important;
		border-radius: 4px !important;
	}

	.bg-overlay {
		background: rgba(0, 0, 0, 0.1) !important;
		position: absolute !important;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
	}
}

.content-container {
	padding: 0 !important;
	padding-bottom: 3rem !important;
}

.main-content-center {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.page-header {
	margin-bottom: 1rem !important;

	h3 {
		color: #655057 !important;
		font-size: 18px !important;
		text-transform: uppercase !important;
	}
}

.header-container {
	margin-bottom: 1.5rem !important;

	h2 {
		font-weight: bold !important;
	}
}

// Page header
.page-header {
	margin-bottom: 1.75rem !important;
}

// Table header
.table-header {
	padding: 0 !important;

	button {
		color: #555 !important;
		font-size: 0.75rem !important;
		border: solid 1px #ddd !important;
	}
}

// REACT DATA TABLE COMPONENT
.rdt_Table {
	.rdt_TableHead {
		.rdt_TableHeadRow {
			border-bottom: solid 2px #ebedf3 !important;

			.rdt_TableCol {
				color: #181c67 !important;
				font-size: 0.75rem !important;
				transition: 0.3s ease !important;
			}

			.rdt_TableCol *:hover {
				color: #5d9cff !important;
				cursor: pointer !important;
			}
		}
	}

	.rdt_TableRow {
		font-size: 0.75rem !important;
		padding: 1rem 0 !important;
		color: #999 !important;
		border-bottom: 1px solid #ebedf3 !important;
		transition: 0.3s ease !important;
	}

	.rdt_TableRow:hover {
		background: #fcfcfc !important;
	}

	.datatable_actionButtons {
		button {
			border: solid 1px #ddd !important;
			font-size: 0.7rem !important;
			margin: 0 5px !important;
		}
	}
}

// UserAvatar
.UserAvatar {
	color: #fff !important;
}
