// todo: disabled button styles
button {
	&:disabled {
		cursor: not-allowed !important;
	}
	&.disabled {
		cursor: not-allowed !important;
	}
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
	.c-icon {
		margin-top: 0 !important;
	}
}

input:read-only,
select:read-only,
textarea:read-only {
	cursor: not-allowed !important;
	background: #f1f1f1 !important;
}
