// todo: disabled button styles
button {
	&:disabled {
		cursor: not-allowed !important;
	}
	&.disabled {
		cursor: not-allowed !important;
	}
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
	.c-icon {
		margin-top: 0 !important;
	}
}
